{% extends "openresources/base.html" %}
{% load i18n texttools %}

{% block extra_head %}
{{ block.super }}
<script type="text/javascript" src="http://dev.openlayers.org/releases/OpenLayers-2.10/OpenLayers.js"></script>
<!--<script type="text/javascript" src="http://dev.openlayers.org/nightly/OpenLayers.js"></script>-->
<script type="text/javascript" src="http://www.openstreetmap.org/openlayers/OpenStreetMap.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}openresources/js/OpenResourcesRenderer.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}openresources/js/map.js"></script>
<script type="text/javascript">
var MEDIA_URL = "{{ MEDIA_URL }}",
    STATIC_URL = "{{ STATIC_URL }}"
    VIEW = "{{ view.shortname }}",
    CONTEXT = {{ context.to_json }},
    JSON_URL = "{% url geojson_all %}",
    MAP_ATTRIBUTION = '{{ map_attribution|safe }}',
    DEFAULT_ICON = '{{ STATIC_URL }}{{ default_resource_icon }}';

var icon_mappings = [
{% for mapping in icon_mappings %}
{key:"{{ mapping.key}}"{% if mapping.value %},value:"{{ mapping.value }}"{% endif %},icon:"{{MEDIA_URL}}{{ mapping.icon.image }}"}{% if not forloop.last %},
{% endif %}
{% endfor %}
];

</script>
{% endblock %}

{% block openresources_content %}

{% block top_content %}{% endblock %}

{% if context_form %}
<div class="navbox">
<h2 class="inline">{% trans "Where?" %}</h2>
<form class="context-form autosubmit" action="{% url openresources_set_context %}" method="post">
<div class="field-wrapper{% if context_form.instance.area %} active{% endif %}">
{{ context_form.area }}
<button type="submit">{% trans "Set" %}</button>
</div>
{% csrf_token %}
</form>
<button class="uselocationbutton">Use my current location</button>
<div class="clear"></div>
</div>
{% endif %}

{% block views %}
<div class="navbox">
<h2 class="inline">{% trans "What?" %}</h2>
<form class="search-form" action="{% url openresources_search %}" method="get">
<input name="q" type="text" size="15"/>
<button type="submit">{% trans "Search" %}</button>
</form>
<ul class="views-list">
{% for view in featured_views %}
<li class="view"><a href="{% url openresources_view name=view.shortname %}">{{ view.name }}</a></li>
{% endfor %}
</ul>
<a class="more" href="{% url openresources_views %}">{% trans "all views..." %}</a>
<div class="clear"></div>
</div>
{% endblock %}

{% block top_actions %}
<div class="actions">
<a class="action add" href="{% url openresources_templates %}">{% trans "Add resource" %}</a>
</div>
{% endblock %}

{% block map %}
<div class="map-wrapper">
<div id="map" class="map"></div>
<div class="map-loading">{% trans "Map Data Loading..." %}</div>
</div>
{% endblock %}

{% block lists %}
<div class="listbox">
<h2>{% trans "Newest Resources" %}</h2>
<ul class="resources-list">
{% for resource in latest_resources %}
<li class="resource"><a href="{% url openresources_resource key=resource.shortname%}">{{ resource.name }}</a></li>
{% endfor %}
</ul>
<a class="more" href="{% url openresources_view name="all" %}">{% trans "all resources..." %}</a>
</div>

<div class="listbox">
<h2>{% trans "Upcoming" %}</h2>
<ul class="resources-list upcoming-list">
{% for resource in upcoming_resources %}
<li><div class="upcoming">
<div class="date">{% smart_date resource.start_date resource.end_date "l,&\n\b\s\p;j.n." %}</div>
<a href="{% url openresources_resource key=resource.shortname%}">{{ resource.name }}</a>
</div>
{% empty %}
<li class="empty">{% trans "No upcoming resources at the moment..." %}</li>
{% endfor %}
</table>
<!--
<a class="more" href="{% url openresources_view name="all" %}">{% trans "all upcoming events..." %}</a>
-->
</div>
{% endblock %}

{% block bottom_content %}{% endblock %}

{% endblock %}
