{% extends "openresources/base.html" %}
{% load i18n %}

{% block title %}Vivir Bien: {% trans "Credits" %}{% endblock %}

{% block openresources_content %}

<h1>{% trans "Credits" %}</h1>

<ul class="credits">
<li>Application concept: <a href="http://vivirbien.mediavirus.org/">Vivir Bien</a> plenum &amp; mailing list</li>
<li>Application development: <a href="http://floledermann.com/">Flo Ledermann</a></li>
<li>Icons used in the user interface <a href="http://creativecommons.org/licenses/by/3.0/">CC-by</a> <a href="http://p.yusukekamiyamane.com/">Yusuke Kamiyamane</a>.</li>
</ul>

{% endblock %}
