{% extends "openresources/base.html" %}
{% load i18n url_optional %}

{% block title %}{{ view.name }}, {% if area %}{{ area.name }}{% else %}{% trans "Everywhere" %}{% endif %}{% endblock %}

{% block body_class %}{{ block.super }} view-page{% endblock %}

{% block openresources_content %}

{% block filter %}
<div class="navbox">
<h2 class="toggle off">{% if area %}<span class="prefix">{% trans "In:" %} </span>{{ area.name }}{% else %}{% trans "Everywhere" %}{% endif %} <span class="change">{% trans "change..." %}</span></h2>
<div class="list-wrapper">
{#<button class="uselocationbutton">{% trans "Use my current location" %}</button>#}
{% if area %}
<ul class="areas-list">
<li class="area"><a href="{% url_optional openresources_view name=view_name %}">{% trans "Everywhere" %}</a></li>
</ul>
{% endif %}
{% regroup featured_areas by feature_order as areas_list %}
{% for group in areas_list %}
<ul class="areas-list">
{% for a in group.list %}
<li class="area{% if a = area %} active{% endif %}"><a href="{% url_optional openresources_view area=a.shortname name=view_name %}">{{ a.name }}</a></li>
{% endfor %}
</ul>
{% endfor %}
</div>
<div class="next-join"></div>
</div>

<div class="navbox arrow">
<form class="search-form" action="{% url openresources_search %}" method="get">
<input name="q" type="text" size="15"/>
<button type="submit">{% trans "Search" %}</button>
</form>
<h2 class="toggle off"><span class="prefix">{% trans "Topic:" %} </span>{{ view.name }} <span class="change">{% trans "change..." %}</span></h2>
<div class="list-wrapper">
{% if not is_default_view %}
<ul class="views-list">
<li><a href="{% url_optional openresources_view area=area.shortname %}">{% trans "All Resources" %}</a></li>
</ul>
{% endif %}
{% regroup featured_views by feature_order as views_list %}
{% for group in views_list %}
<ul class="views-list">
{% for view in group.list %}
<li><a href="{% url_optional openresources_view name=view.shortname area=area.shortname %}">{{ view.name }}</a></li>
{% endfor %}
</ul>
{% endfor %}
<ul class="views-list">
<li class="more"><a href="{% url openresources_views %}">{% trans "more..." %}</a></li>
</ul>
</div>
<p>
{{ view.description|linebreaksbr }}
</p>
<div class="toggle off toggle-plus">Details</div>
<div class="details-wrapper">
<p>
{% trans "This view shows resources with tags:" %} {{ view.get_description|safe }}
{% if request.user.is_staff or request.user.is_authenticated and not is_default_view %}
<div class="actions">
<a class="action edit" href="{% url openresources_edit_view name=view.shortname %}">{% trans "Edit view" %} "{{ view.name }}"</a>
</div>
{% endif %}
</p>
</div>
<div class="next-arrow"></div>
</div>
{% endblock %}

{% include "openresources/includes/view_modes.html" %}

<div class="view-content">
{% block view_content %}{% endblock %}
</div>

{% endblock %}
