{% extends "openresources/base.html" %}
{% load i18n %}

{% block title %}{% trans "View" %}: {{ view.name }}{% endblock %}

{% block body_class %}{{ block.super }} view-page{% endblock %}

{% block openresources_content %}

<h1>{{ view.name }}</h1>
<p class="help">
{% trans "This view shows resources with tags:" %}<br />
{{ view.get_description|safe }}
</p>

{% include "openresources/includes/view_actions.html" %}

{% include "openresources/includes/view_modes.html" %}

{% block view_content %}{% endblock %}

{% endblock %}
