{% extends "openresources/view_base.html" %}
{% load i18n %}

{% block view_content %}
<div class="actions">
{% if view.default_resource_template %}
<a class="action add" href="{% url openresources_edit_with_template template=view.default_resource_template.shortname %}">{% blocktrans with type=view.default_resource_template.name %}Add {{type}}{% endblocktrans %}</a>
{% else %}
<a class="action add" href="{% url openresources_templates %}">{% trans "Add resource" %}</a>
{% endif %}
</div>

{% if groups %}
<div class="column">
{% for group in groups %}
<h2>{{ group.title }}
{% if group.text %}
<div class="help">{{ group.text|safe }}</div>
{% endif %}
</h2>
<ul class="resourceslist">
{% for resource in group.resources %}
<li class="resource"><a href="{% url openresources_resource key=resource.shortname%}">{{ resource.name }}</a></li>
{% endfor %}
</ul>
{% if forloop.counter|divisibleby:3 %}
</div>
<div class="column">
{% endif %}
{% endfor %}
</div>

{% else %}
<ul class="resourceslist">
{% for resource in resources %}
<li class="resource"><a href="{% url openresources_resource key=resource.shortname%}">{{ resource.name }}</a>
<div class="help">
{% regroup resource.view_tags by key as tag_list %}
{% for group in tag_list %}
{{ group.grouper }}: {% for tag in group.list %}{{ tag.value}}{% if not forloop.last %}, {% endif %}{% endfor %}<br />
{% endfor %}
</div>
</li>
{% endfor %}
</ul>
{% endif %}
{% endblock %}
