{% extends "openresources/base.html" %}
{% load i18n %}

{% block title %}{% trans "View" %}: {{ view.name }}{% endblock %}

{% block body_class %}{{ block.super }} view-page{% endblock %}

{% block openresources_content %}

<h1>{{ view.name }}</h1>
<p class="help">
{% trans "This view shows resources with tags:" %}<br />
{{ view.get_description|safe }}
</p>

{% include "openresources/includes/view_actions.html" %}

{% include "openresources/includes/view_modes.html" %}

<h2>{% trans "Use the following code to embed this view in other websites:" %}</h2>

<textarea class="embed-code">
<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://{{request.get_host}}{% url openresources_view name=view.shortname mode="embed" %}"></iframe><br /><small><a href="http://{{request.get_host}}{% url openresources_view name=view.shortname %}">{% trans "View" %} "{{ view.name }}" @ {{ request.get_host }}</a></small>
</textarea>

{% endblock %}
