{% extends "openresources/view_base.html" %}
{% load i18n url_optional %}

{% block body_class %}{{ block.super }} view-map{% endblock %}

{% block extra_head %}
{{ block.super }}
{% include "openresources/includes/view_map_includes.html" %}
<script type="text/javascript">
var MEDIA_URL = "{{ MEDIA_URL }}",
    STATIC_URL = "{{ STATIC_URL}}",
    VIEW = "{{ view.shortname }}",
    CONTEXT = {% if area %}{area:[{{ area.bounds }}]}{% else %}{}{% endif %},
    JSON_URL = "{% url openresources_view name=view.shortname mode="json" %}",
    MAP_ATTRIBUTION = '{{ map_attribution|safe }}',
    DEFAULT_ICON = '{{ STATIC_URL }}{{ default_resource_icon }}';

var icon_mappings = [{% for mapping in icon_mappings %}
{key:"{{ mapping.key}}"{% if mapping.value %},value:"{{ mapping.value }}"{% endif %},icon:"{{MEDIA_URL}}{{ mapping.icon.image }}"}{% if not forloop.last %},{% endif %}{% endfor %}
];
</script>{% endblock %}

{% block view_content %}
<div class="actions">
{% if view.default_resource_template %}
<a class="action add" href="{% url openresources_edit_with_template template=view.default_resource_template.shortname %}">{% blocktrans with type=view.default_resource_template.name %}Add {{type}}{% endblocktrans %}</a>
{% else %}
<a class="action add" href="{% url openresources_templates %}">{% trans "Add resource" %}</a>
{% endif %}
<a class="action fullscreen" href="{% url_optional openresources_view area=area.shortname name=view.shortname mode="fullscreen"%}">{% trans "Fullscreen" %}</a>
</div>

<div id="map" class="map"></div>
<div class="map-loading">{% trans "Map Data Loading..." %}</div>

{% endblock %}
