{% extends "openresources/base.html" %}
{% load i18n %}

{% block title %}{% trans "View" %}: {{ view.name }}{% endblock %}

{% block extra_head %}
{{ block.super }}
<script type="text/javascript" src="http://dev.openlayers.org/releases/OpenLayers-2.8/OpenLayers.js"></script>
<script type="text/javascript" src="http://www.openstreetmap.org/openlayers/OpenStreetMap.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}openresources/js/OpenResourcesRenderer.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}openresources/js/map.js"></script>
<script type="text/javascript">
var MEDIA_URL = "{{ MEDIA_URL }}",
    VIEW = "{{ view.shortname }}",
    CONTEXT = {{ context.to_json }},
    JSON_URL = "{% url geojson name=view.shortname %}",
    MAP_ATTRIBUTION = '{{ map_attribution|safe }}',
    DEFAULT_ICON = '{{ default_resource_icon }}';

var icon_mappings = [
{% for mapping in icon_mappings %}
{key:"{{ mapping.key}}"{% if mapping.value %},value:"{{ mapping.value }}"{% endif %},icon:"{{ mapping.icon.image }}"}{% if not forloop.last %},
{% endif %}
{% endfor %}
];

</script>
{% endblock %}

{% block body_class %}{{ block.super }} view-map{% endblock %}

{% block openresources_content %}

<h1>{{ view.name }}</h1>
<p class="help">
{% trans "This view shows resources with tags:" %}<br />
{{ view.get_description|safe }}
</p>

{% include "openresources/includes/view_actions.html" %}

{% include "openresources/includes/view_modes.html" %}

<div id="map" class="map"></div>
<div class="map-loading">{% trans "Map Data Loading..." %}</div>

{% endblock %}
