{% load texttools i18n %}
<div class="actions">
{% if request.user.is_authenticated %}
{# {% if perms.openresources.edit_view %} #}
<a class="action edit" href="{% url openresources_edit_view name=view.shortname %}">{% trans "Edit view" %}</a>
{# {% endif %} #}
{% if view.default_resource_template %}
<a class="action add" href="{% url openresources_edit_with_template template=view.default_resource_template.shortname %}">{% trans "Add resource" %} ({{view.default_resource_template.name}})</a>
{% else %}
<a class="action add" href="{% url openresources_templates %}">{% trans "Add resource" %}</a>
{% endif %}
{% endif %}
</div>
